<!DOCTYPE html>
<html>
<head>
    <title>Users Data</title>
</head>
<body>

<h1>All Users</h1>

<table border="1" cellpadding="10">

<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Delete</th>
</tr>

{% for user in users %}
<tr>
    <td>{{ user[0] }}</td>
    <td>{{ user[1] }}</td>
    <td>{{ user[2] }}</td>
    <td>{{ user[3] }}</td>
    <td>
        <a href="/delete/{{ user[0] }}">
            <button>Delete</button>
        </a>
    </td>
</tr>
{% endfor %}

</table>

<br>

<a href="/">
    <button>Back Home</button>
</a>

</body>
</html>
